<h1> Enter your Catchphrase </h1>

<form method="post" action="/result">
    <label for="catchphrase">Please enter your catchphrase: <input type="text" name="catchphrase"/></label>
    <label for="age">How old are you? <input type="number" name="age"/></label>
    <input type="submit" value="Submit"/>
</form>